.app {
  padding: 1rem;

  ul {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;

    li {
      margin-top: 0.2rem;
      height: 34px;
    }
  }

  button {
    background-color: rgb(72, 187, 120);
    border: none;
    font-weight: bold;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: rgb(51, 139, 88);
    }

    &.display-anagrams {
      background-color: rgb(33, 150, 243);

      &:hover {
        background-color: rgb(26, 107, 173);
      }
    }
  }
}
